In [26]:
from pathlib import Path
import sys

nb_path = !pwd
sys.path.insert(0, str(Path(nb_path[0]).parent.parent))

from hp.scripts.relation_matrix_generator import CATEGORIES, FILES

In [27]:
import pandas as pd
from IPython.display import display

In [28]:
data = {}
for category, path in FILES.items():
    data[category] = pd.read_csv(path)

Tady najdu definované barevné palety: https://docs.bokeh.org/en/latest/docs/reference/palettes.html Pro změnu stačí v oddílu graph.ops přepsat na dvou místech (category20/b/c/atd)

In [29]:
display(data["all"])

,Unnamed: 0,Harry_Potter,Draco_Malfoy,Hermione_Granger,Sirius_Black,Remus_Lupin,Severus_Snape,James_Potter,Original_Female_Character,Ginny_Weasley,...,Jack_Sparrow,Rhaegar_Targaryen,Voldemort_(Harry_Potter),Hestia_Carrow,Sabrina_Spellman,Roxanne_Weasley,Sansa_Stark,Irma_Pince,Maria_Hill,Bellatrix_Black
0,Harry_Potter,1,1,1,1,1,1,1,1,1,...,3,3,0,2,1,0,1,0,0,0
1,Draco_Malfoy,1,1,1,1,1,1,4,1,1,...,0,0,0,0,1,0,0,0,0,0
2,Hermione_Granger,1,1,1,1,1,1,1,1,1,...,1,0,0,0,1,0,0,1,1,2
3,Sirius_Black,1,1,1,0,1,1,1,7,1,...,0,0,0,0,0,0,0,0,1,0
4,Remus_Lupin,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,Roxanne_Weasley,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
412,Sansa_Stark,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
413,Irma_Pince,0,0,1,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
414,Maria_Hill,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
415,Bellatrix_Black,0,0,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
matrix = data["all"].to_numpy()
names = matrix[:,0]
items = matrix[:,1:]

In [34]:
max_values = []
for rn, row in enumerate(items):
    for cn, value in enumerate(row):
        if rn >= cn:
            max_values.append((value, "/".join(sorted([names[cn], names[rn]]))))
max_values.sort(key=lambda rec: -rec[0])
pd.DataFrame(max_values[:100])

      0                                            1
0   176         Original_Female_Character/Tom_Riddle
1   138                Marlene_McKinnon/Sirius_Black
2   123          Bellatrix_Black_Lestrange/Voldemort
3   113              Andromeda_Black_Tonks/Ted_Tonks
4    87             Minerva_McGonagall/Severus_Snape
..  ...                                          ...
95   18                       Kreacher/Regulus_Black
96   18               Harry_Potter/Legolas_Greenleaf
97   18  Lán_Zhàn_|_Lán_Wàngjī/Wèi_Yīng_|_Wèi_Wúxiàn
98   18                               哈利•波特/西弗勒斯•斯内普
99   17                 George_Weasley/Luna_Lovegood

[100 rows x 2 columns]

display(pd.DataFrame(max_values[:100]))